{% extends 'admin/base.html.twig' %}

{% block title %}Modification de programmes{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/jquery-datetime-picker/jquery.datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4 class="font-size-18">Grille TV</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modification de programme</h4>
                    {{ form_start(scheduleForm, {attr: {class: 'outer-repeater'}}) }}
                    <div data-repeater-list="outer-group" class="outer">
                        <div data-repeater-item class="outer">
                            <div class="row">
                                <div class="col-12">
                                    {{ form_row(scheduleForm.title, {value: title }) }}
                                </div>
                            </div>
                            <p>Programmation de temps</p>
                            <div class="inner-repeater mb-4">
                                <div data-repeater-list="inner-group" class="inner form-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="form_passageTab" class="required">Heure de passage</label>
                                            <div data-repeater-item class="inner mb-3 row">
                                                <div class="col-4">
                                                    <input type="text" id="" name="passageTab" required="required" class="timepicker form-control" value="{{ passage }}">
                                                </div>

                                                <div class="col-3">
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <input type="checkbox" id="schedule_status" name="status" class="form-check-input" value="1">
                                                            <label class="form-check-label" for="schedule_status">Nouvel épisode ?</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="form-group">
                                                        <select name="bloc" id="" class="select" required>
                                                            <option value="">Choisir le bloc</option>
                                                            <option value="bloc1" {{ bloc == 'bloc1' ? 'selected = "selected"' }}>Bloc 1</option>
                                                            <option value="bloc2" {{ bloc == 'bloc2' ? 'selected = "selected"' }}>Bloc 2</option>
                                                            <option value="bloc3" {{ bloc == 'bloc3' ? 'selected = "selected"' }}>Bloc 3</option>
                                                            <option value="bloc4" {{ bloc == 'bloc4' ? 'selected = "selected"' }}>Bloc 4</option>
                                                            <option value="bloc5" {{ bloc == 'bloc5' ? 'selected = "selected"' }}>Bloc 5</option>
                                                            <option value="bloc6" {{ bloc == 'bloc6' ? 'selected = "selected"' }}>Bloc 6</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 mx-auto">
                                    <button type="submit" class="btn btn-primary btn-block">Modifier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(scheduleForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/jquery-datetime-picker/jquery.datetimepicker.full.min.js') }}"></script>
    <!-- form repeater js -->
    <script src="{{ asset('assets/libs/jquery.repeater/jquery.repeater.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-repeater.int.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-advanced.init.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-editor.init.js') }}"></script>
{% endblock %}