{% extends 'admin/base.html.twig' %}

{% block title %}Modification de Banniere pied de page{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/libs/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="page-title-box">
                <h4 class="font-size-18">Banniere pied de page</h4>
            </div>
        </div>
    </div>
<div class="row">
    <div class="mx-auto col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Modification de Banniere pied de page</h4>
                {{ form_start(footerBannerForm) }}
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(footerBannerForm.imageFile) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(footerBannerForm.link) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <button type="submit" class="btn btn-primary btn-block">Modifier</button>
                        </div>
                    </div>
                {{ form_end(footerBannerForm) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/libs/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/libs/select2/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/libs/admin-resources/bootstrap-filestyle/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-advanced.init.js') }}"></script>
    <script src="{{ asset('assets/js/pages/form-editor.init.js') }}"></script>
{% endblock %}