<div class="row-fluid d-none d-md-block">
    <div class="col-md-12">
		<footer class="d-flex flex-row align-items-center">
			<a class="" href="{{ path('homepage') }}" id="logo-gray">
				<img src="{{ asset('images/logo-white.png') }}" alt="">
			</a>


			<nav class="ml-auto">
				<ul class="list-unstyled d-flex flex-md-row font-avenir-regular">
					<li><a href="{{ path('front_contacts') }}">Contactez-nous</a></li>
					<li class="d-flex flex-column text-left">
						<a href="{{ path('front_cgv') }}">Conditions générales de vente</a>
						<a href="{{ path('front_cgu') }}">Conditions générales d'utilisation</a>
						<a href="{{ path('front_pdc') }}">Politiques de confidentialité</a>

					</li>
					<li>

						<div class="d-flex flex-row flex-wrap">
							<a href="{% if facebook is defined %}{{ facebook.link }} {% else %} # {% endif %}">
								<img src="{{ asset('images/fb-b.png') }}" alt="">
							</a>

							<a href="{% if youtube is defined %}{{ youtube.link }} {% else %} # {% endif %}" class="mx-2">
								<img src="{{ asset('images/yb.png') }}" alt="">
							</a>

							<a href="{% if tiktok is defined %}{{ tiktok.link }} {% else %} # {% endif %}">
								<img src="{{ asset('images/tik.png') }}" alt="">
							</a>
						</div>

						<div>
							<small class="text-light">Rejoins-nous</small>
						</div>
							
					</li>

					<li>
						<a href="" id="anchor-top">
							<img width="70%" src="{{ asset('images/anchor.png') }}" alt="">
						</a>
					</li>
				</ul>
			</nav>
		</footer>
	</div>
</div>